  @media only screen and (max-width:799px) {
      td {
          display: block;
          width: 99%;
          padding-top: 8px;
          padding-bottom: 8px;
      }
      img {
        width: 49%;
        min-width: 299px;
        vertical-align: middle;
    }
  }
